<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600"
          rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
  </head>
  <body>
    <div class="container">
      {% if current_user.is_authenticated %}
        <div class="row">
          <form class="inline" action="{{ url_for('user.logout') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="submit" value="Log Out">
          </form>
          <a class="button" href="{{ url_for('user.change_password') }}">Change Password</a>
        </div>
      {% endif %}
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          <div class="row">
            <ul>
              {% for category, message in messages %}
                <li>{{ category }}: {{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endwith %}
      {% block main %}
      {% endblock %}
    </div>
  </body>
</html>
